*{
    padding: 0px;
    margin: 0px;
    font-size: 15px;
    font-family: MyriadPro;
}

body{
    background-color: #ececec;
}

.header{
    width: 100%;
    
}

.header img{
    width: 100%;
    display: block;
    margin-bottom: 5px;
}

@font-face { 
    font-family: MyriadPro; 
    src: url('MyriadPro-Semibold.otf');
}

.atras{
    position: fixed;
    top: 0;
    width: 25%;
    height: 8%;
    padding-left: 14%;
    
}

a{
    text-decoration: none;
    color: black;
}

.cuerpo{
    overflow: auto;
    height: 400px;
}

.recuadroParadas{
    height: 100%;
}

.parada{
    height: 15%;
    box-sizing: border-box;   
}

#parada1{
    border: 0px;
    border-bottom: 1px;
    border-color: grey;
    border-style: solid;
}

.row{
    height: 100%;
    width: 100%;
}

.colu{
    float: left;
    height: 100%;
}

#colu1{
    width: 30%;
    box-sizing: border-box;
    padding-bottom: 2px;
    padding-top: 2px;
}

#colu2{
    width: 70%;
    display: flex;
}

#colu2 p{
    font-size: 12px;
    align-self: center;
}

.colu  img{
    max-height: 100%;
    border: 1px solid grey;
    border-radius: 100%;
    display: block;
    margin: auto;
    box-sizing: border-box;
}


    





.