*{
    padding: 0px;
    margin: 0px;
    font-size: 15px;
    font-family: MyriadPro;
}

a{
    text-decoration: none;
    color: black;
}

body{
    background-color: #ececec;
}

.header{
    width: 100%;
    
}

img{
    width: 100%;
    display: block;
    margin-bottom: 5px;
}

.cuerpo img{
    border-radius: 100%;
    border: 0.5px solid grey;
}

.col{
    width: 33.33333%;
    float: left;
    box-sizing: border-box;   
    text-align: center;
    padding: 10px;
}

.textoIcon{
    width: 33.33333%;
    float: left;
    text-align: center;
}

.fila{
    overflow: auto;
}

@font-face { 
    font-family: MyriadPro; 
    src: url('MyriadPro-Semibold.otf');
}

.cuerpo{
    padding-top: 10px;
}

.colInd{
    width: 50%;
    float: left;
    box-sizing: border-box;   
    text-align: center;
    padding: 10px;
}

#filaInd{
    margin: auto;
    
}

#centro{
    overflow-y: auto;
    width: 67%;
    margin: auto;
}
